/*Importa a fonte do Google*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #da5c5c;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}
/*Remove os espaçamentos*/
html, body {
  margin: 0;
  padding:0;
}
/*Setando das fontes na aplicação*/
body {
  font-family: 'Open Sans', sans-serif;
}

/*Remove todos os sublinhados das tags a href do projeto*/
a {
  text-decoration: none;
}